[submodule ".registry"]
	path = .registry
	url = https://github.com/jameel-institute/jameel-institute.r-universe.dev
	branch = HEAD
[submodule "daedalus"]
	path = daedalus
	url = https://github.com/jameel-institute/daedalus
[submodule "daedalus.compare"]
	path = daedalus.compare
	url = https://github.com/jameel-institute/daedalus.compare
[submodule "dust2"]
	path = dust2
	url = https://github.com/mrc-ide/dust2
	registered = false
[submodule "jameelinst.rpkg.theme"]
	path = jameelinst.rpkg.theme
	url = https://github.com/jameel-institute/jameelinst.rpkg.theme
[submodule "monty"]
	path = monty
	url = https://github.com/mrc-ide/monty
	registered = false
