[submodule ".registry"]
	path = .registry
	url = https://github.com/jameel-institute/jameel-institute.r-universe.dev
	branch = HEAD
[submodule "daedalus"]
	path = daedalus
	url = https://github.com/jameel-institute/daedalus
[submodule "jameelinst.rpkg.theme"]
	path = jameelinst.rpkg.theme
	url = https://github.com/jameel-institute/jameelinst.rpkg.theme
